config samba
	option workgroup 'WORKGROUP'
	option charset 'UTF-8'
	option name 'OpenWrt'
	option description 'OpenWrt Samba Server'
	option enable '1'
	option homes '0'

config sambashare
	option read_only 'no'
	option create_mask '0755'
	option dir_mask '0755'
	option guest_ok 'yes'
	option enabled '1'
	option name 'OpenWrt'
	option path '/mnt/sda1'
