server=|SERVER|
port=|PORT|
password=|PASSWORD|
mode=client
concurrency=|CONCURRENCY|
mtu=|MTU|
intf=|INTERFACE|
net=|NET|
up=/etc/shadowvpn/client_up.sh
down=/etc/shadowvpn/client_down.sh
pidfile=/var/run/shadowvpn.pid
logfile=/var/log/shadowvpn.log
